@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

:root {
  --light: #fafafa;
  --dark: #0e0e0e;
}

body {
  margin: 0;
  /* background: var(--dark);
  width: 100vw;
  height: 100vh; */
}

p {
  margin: 0;
}

.messages_container {
  font-family: 'Aldrich', sans-serif;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 0 0.5rem;
  box-sizing: border-box;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.message {
  width: 100%;
  margin-bottom: 1rem;
}
.message_userBadge {
  width: 1.5rem;
}
.message_userBadge-primary {
  position: relative;
  margin: 0 0 -2rem 4.5rem;
  border-radius: 50%;
}
.message_viewer {
  display: flex;
}
.message_viewer-avatar {
  width: 4.25rem;
  height: 4.25rem;
  aspect-ratio: 1;
  background: radial-gradient( circle at top right, #0098DA, #0098DA00 ) border-box, radial-gradient( circle at bottom left, #ff1492, #ff149200) border-box;
  box-sizing: border-box;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message_viewer-avatarImg {
  width: 4rem;
  box-sizing: border-box;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #0e0e0e;
}
.message_viewer-name {
  font-size: 1.75rem;
  background: #d9d9d980;
  height: max-content;
  padding: 0.25rem 0.5rem 0.25rem 2.5rem;
  border-radius: 2rem;
  margin-bottom:0.5rem;
}
.message_currentMessage-container {
  margin: -1.25rem 0 0 4.5rem;
  position: relative;
  width: calc(100% - 5.5rem);
}
.message_currentMessage-container::before {
  content: "";
  width: 2rem;
  height: 1.5rem;
  box-sizing: border-box;
  background: var(--light);
  position: absolute;
  top: 1.9rem;
  left: -1.9rem;
  border-radius: 1rem 0 0 1rem;
  backdrop-filter: blur(0.75rem);
}
.message_currentMessage-container::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: radial-gradient(ellipse at -50% 0, rgba(0, 0, 0, 0) 0, #0000 74%, var(--light) 75%);
  position: absolute;
  top: 0.5rem;
  left: -1.4rem;
  backdrop-fiter: blur(0.75rem); 
}
.message_currentMessage-box {
  container: message_currentMessage-box;
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  background: var(--light);
  backdrop-filter: blur(0.75rem);
  /* border-radius: 2.5rem 4rem 4rem 0; */
  clip-path: inset(0 0 0 0 round 20%/2rem 6rem 6rem 0);
  position: relative;
}
.message_currentMessage-otherViewerBadges {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}
.message_currentMessage-text {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.75rem;
  color: var(--dark);
  display: flex;
  flex-wrap: wrap;
  gap: 0.125rem;
}
.message_currentMessage-text img {
  width: 2.25rem;
  height: 2.25rem;
  aspect-ratio: 1;
  object-fit: contain;
}

.newMessage {
  animation-name: newMessage;
  animation-duration: 250ms;
  animation-iteration-count: 1;
}

@keyframes newMessage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dieingMessage {
  animation-name: newMessage;
  animation-duration: 64s;
  animation-iteration-count: 1;
}

@keyframes dieingMessage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@container message_currentMessage-box (min-height: 5rem) {
  .message_currentMessage-box {
    border-radius: 0 4rem 4rem 2rem;
    border-width: 3px;
  }
  .message_currentMessage-box::before, .message_currentMessage-box::after {
    content: "";
    width: 0;
    height: 0;
  }
}
