@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

:root {
  --light: #fafafa;
  --dark: #0e0e0e;
}

body {
  margin: 0;
  /* background: var(--dark);
  width: 100vw;
  height: 100vh; */
}

p {
  margin: 0;
}

.messages_container {
  font-family: 'Aldrich', sans-serif;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 0 0.5rem;
  box-sizing: border-box;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}
.message {
  width: 100%;
  position: relative;
}
.message_userBadge {
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1;
}
.message_userBadge-primary {
  width: 4.5rem;
  height: 4.5rem;
  aspect-ratio: 1;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  opacity: 0.225;
}
.message_viewer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.message_viewer-avatar {
  width: 4.5rem;
  height: 4.5rem;
  aspect-ratio: 1;
  background: radial-gradient( circle at top right, #0098DA, #0098DA00 ) border-box, radial-gradient( circle at bottom left, #ff1492, #ff149200) border-box;
  box-sizing: border-box;
  border-radius: 50%;
  border: 0.25rem solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message_viewer-avatarImg {
  width: 100%;
  box-sizing: border-box;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #0e0e0e;
}
.message_viewer-name {
  --color: currentColor;
  font-size: 1.75rem;
  font-weight: bold;
  background: #212121cc;
  height: max-content;
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
}
.message_currentMessage-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.5rem;
  filter: drop-shadow(0.125rem 0.125rem 0.25rem #0098da80);
}

.message_currentMessage-box {
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  background: #212121cc;
  border-radius: 0 1rem 1rem 1rem;
  /* box-shadow: 0.25rem 0.25rem 0.25rem  #0098da80; */
}
.message_currentMessage-box::before {
  content: "";
  width: 2rem;
  height: 1.5rem;
  box-sizing: border-box;
  background: radial-gradient(ellipse at 80% 0, transparent 70%, #212121cc 73%);
  position: absolute;
  top: -1.5rem;
  left: 0;
}
.message_currentMessage-otherViewerBadges {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-right: .5rem;
}
.message_currentMessage-text {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.75rem;
  color: var(--light);
  display: flex;
  flex-wrap: wrap;
  gap: 0.125rem;
}
.message_currentMessage-text img {
  width: 2.25rem;
  height: 2.25rem;
  aspect-ratio: 1;
  object-fit: contain;
}

.newMessage {
  animation-name: newMessage;
  animation-duration: 250ms;
  animation-iteration-count: 1;
}

.broadcaster {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.broadcaster .message_userBadge-primary {
  left: auto;
  right: 0;
}
.broadcaster .message_viewer .message_viewer-name {
  order: 0;
}
.broadcaster .message_viewer .message_viewer-avatar {
  order: 1;
}
.broadcaster .message_currentMessage-box {
  flex-direction: row-reverse;
  border-radius: 4rem 0 2rem 4rem;
  border-width: 3px;
}
.broadcaster .message_currentMessage-box::before {
  content: "";
  width: 2rem;
  height: 1.5rem;
  box-sizing: border-box;
  background: radial-gradient(ellipse at 0 0, transparent 70%, #212121cc 73%);
  position: absolute;
  top: -1.5rem;
  left: auto;
  right: 0;
}

.broadcaster .message_currentMessage-box .message_currentMessage-text {
  text-align: right;
  justify-content: flex-end;
}

@keyframes newMessage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dieingMessage {
  animation-name: newMessage;
  animation-duration: 64s;
  animation-iteration-count: 1;
}

@keyframes dieingMessage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@container message_currentMessage-box (min-height: 5rem) {
  .message_currentMessage-box {
    border-radius: 0 4rem 4rem 2rem;
    border-width: 3px;
  }
  .message_currentMessage-box::before, .message_currentMessage-box::after {
    content: "";
    width: 0;
    height: 0;
  }
}
